* {
    font-family: 'Comfortaa', cursive;
}

body {
    background: linear-gradient(rgb(3, 82, 109), teal);
}

h1 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    text-align: center;
}

form {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(rgb(103, 202, 156), rgb(119, 255, 180));
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 3px 2px rgba(255, 255, 255, 0.178);
}

form input {
    width: 20%;
    background: none;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    font-size: 30px;
    text-align: center;
}

form input::placeholder {
    color: white;
}

form button {
    width: 20%;
    background: none;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    border: 3px solid white;
}

section {
    width: 60%;
    margin: 20px auto;
    background: linear-gradient(lightcoral, palevioletred);
    color: rgb(255, 206, 216);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 0 3px 3px 2px rgba(255, 255, 255, 0.178);
    position: relative;
}

section button {
    position: absolute;
    color: rgb(255, 206, 216);
    background: none;
    border: 3px solid rgb(255, 206, 216);
    padding: 5px 10px;
    border-radius: 5px;
    top: 10px;
}

.delete {
    right: 10px;
}

.update {
    right: 45px;
}

form input:focus {
    font-size: 35px;
}

form button:hover, section button:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}