<h1>YOUR CART</h1>

<form ng-submit="$ctrl.add($ctrl.newitem);">
  <input type="text" placeholder="Product" ng-model="$ctrl.newitem.product">
  <input type="number" placeholder="Price" ng-model="$ctrl.newitem.price">
  <input type="number" placeholder="Quantity" ng-model="$ctrl.newitem.quantity">
  <button>ADD TO CART</button>
</form>

<section ng-repeat="item in $ctrl.cart">
  <button class="delete" ng-click="$ctrl.delete(item.id);">X</button>
  <button class="update" ng-click="$ctrl.update($ctrl.newitem, item.id);">UPDATE ITEM</button>
  <p>{{ item.product }}</p>
  <p>${{ item.price }}</p>
  <p>Quantity: {{ item.quantity }}</p>
</section>